<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <title>Pokedex</title>
</head>

<body>
    <div class="container d-flex flex-column justify-content-center">
        <div class="row" id="card">
            <div class="col-6 d-flex flex-column justify-content-center" id="colL">
                <img src="/res/images/hires/001.png" alt="" id="imgPoke">
            </div>
            <div class="col-6 backGrass" id="colR">
                <div class="mx-3 my-3">
                    <h5 class="hType">Type</h5>
                    <div class="divType bg-success d-inline-block px-4 py-1 rounded-pill">
                        <p class="m-0">Grass</p>
                    </div>
                    <div class="divType bg-primary d-inline-block px-4 py-1 rounded-pill">
                        <p class="m-0">Poison</p>
                    </div>
                </div>
                <div class="row mx-3 my-3">
                    <p class="col-4 p-0 m-0"><span class="h5">Height </span> <span> 0.7 m</span></p>
                    <p class="col-4 p-0 m-0"><span class="h5">Height </span> <span> 0.7 m</span></p>
                </div>
                <div class="row mx-3 my-3">
                    <p class="col-12 p-0 m-0"><span class="h5">Gender </span></p>
                    <p class="col-4 p-0 m-0"><span class="h5"> &#9794; </span> <span> 87.5%</span></p>
                    <p class="col-4 p-0 m-0"><span class="h5"> &#9792; </span> <span> 12.5%</span></p>
                </div>
                <div class="row mx-3 my-3">
                    <p class="col-12 p-0 m-0"><span class="h5">Species </span></p>
                    <p class="col-4 p-0 m-0">Seed Pokémon</p>
                </div>
                <div></div>
            </div>
        </div>
    </div>
</body>

</html>