* {
    box-sizing: border-box;
}

body {
    background-image: url(/res/images/ui/Cover.png);
    background-attachment: fixed;
    background-color: #ff5f5f;
    background-size: cover;
    background-position:center;
    font-family: 'Manrope', sans-serif;
}

h5 {
    font-weight: 500;
}

h6 {
    font-weight: 400;
    color: #4e4e4e;
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(226, 226, 226);
    border-radius: 1rem;
}

.container {
    width: 1600px;
}

/* Capsule */
.capsule {
    display: inline-block;
    border-radius: 1rem;
    width: max-content;
    padding: 2px 10px;
    margin: 0 3px 0 0;
}


/* Progress Bar*/
.progress {
    height: 25px;
    width: 350px;
    border-radius: 1rem;
    background-color: transparent;
}

.progressBarMale {
    margin-right: 1px;
    background-color: #66baff;
    color: #1a3252;
    border-radius: 1rem;
    font-size: small;
}

.progressBarFemale {
    background-color: #ffa1a1;
    color: rgb(65, 21, 61);
    font-size: small;
    border-radius: 1rem;
}

.overflow-auto {
    height: 85px;
    min-width: 380px;
    font-size: .9rem;
}

.btnNav {
    font-size: 3rem;
    border: 0;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.534);
    text-decoration: none;
    transition: color .3s;
}

.btnNav:hover {
    color: #ff5f5f;
    text-decoration: none;
}

#divMain {
    height: 600px;
    min-width: 1100px;
    background-color: white;
    border-radius: 8rem;

    box-shadow: 0px 2px 14px 1px rgba(100, 100, 100, 0.62);
    -webkit-box-shadow: 0px 2px 14px 1px rgba(100, 100, 100, 0.62);
    -moz-box-shadow: 0px 2px 14px 1px rgba(100, 100, 100, 0.62);
}

#divImg {
    height: 450px;
    max-height: 450px;
    max-width: 450px;
    border-radius: 6rem;
    background-image: url(/res/images/ui/pokeBackG.png);
    background-position: bottom;
    background-size: contain;
}

#imgPoke {
    max-width: 300px;
    max-height: 300px;
    object-fit: contain;
}

#colAbout {
    margin-top: 4rem;
}

#boxDesc {
    height: 90px;
    width: 400px;
    background-color: whitesmoke;
    padding: 10px 20px 10px 20px;
    border-radius: 1rem;

}

#mainNav {
    position: absolute;
    width: 100%;
}


#mainNav > .navbar-brand {
    font-size: 2.4rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 14px rgb(100, 0, 22);
    font-family: 'Raleway', sans-serif;
}

#btnNavig {
    position:absolute;
    overflow-x: hidden;
    width: 100%;
    margin-top: -10px;
}

.nav-link {
    padding: 2px 5px 2px 5px;
    color:white;
}

.nav-link:hover {
    color: rgb(255, 95, 95);
    background-color: white;
    border-radius: 1rem;
}

/* #bgList {
    background-image: none;
} */