* {
    box-sizing: border-box;
}

body {
    background-image: url(/res/images/ui/Cover.png);
    background-color: rgb(255, 95, 95);
    background-size: cover;
    background-position: center;
    font-family: 'Manrope', sans-serif;
}

h5 {
    font-weight: 500;
}

h6 {
    font-weight: 400;
    color: #4e4e4e;
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(226, 226, 226);
    border-radius: 1rem;
}

.container {
    width: 1600px;
}

.capsule {
    display: inline-block;
    border-radius: 1rem;
    width: max-content;
    padding: 2px 10px;
    margin: 0 3px 0 0;
}

.capsule-grass {
    background-color: rgb(174, 199, 82);
    color: white;
}

.capsule-poison {
    background-color: rgb(168, 81, 202);
    color: white;
}

.progress {
    height: 25px;
    width: 350px;
    border-radius: 1rem;
    background-color: transparent;
}

.progressBarMale {
    margin-right: 1px;
    background-color: #66baff;
    color: #1a3252;
    border-radius: 1rem;
    font-size: small;
}

.progressBarFemale {
    background-color: #ffa1a1;
    color: rgb(65, 21, 61);
    font-size: small;
    border-radius: 1rem;
}

.overflow-auto {
    height: 85px;
    min-width: 380px;
    font-size: .9rem;
}

#divMain {
    height: 600px;
    min-width: 1100px;
    background-color: white;
    border-radius: 8rem;

    box-shadow: 0px 2px 14px 1px rgba(100, 100, 100, 0.62);
    -webkit-box-shadow: 0px 2px 14px 1px rgba(100, 100, 100, 0.62);
    -moz-box-shadow: 0px 2px 14px 1px rgba(100, 100, 100, 0.62);
}

#divImg {
    height: 450px;
    max-height: 450px;
    max-width: 450px;
    border-radius: 6rem;
    background-image: url(/res/images/ui/pokeBackG.png);
    background-position: bottom;
    background-size: contain;
}

#imgPoke {
    max-width: 300px;
    max-height: 300px;
    object-fit: contain;
}

#colAbout {
    margin-top: 4rem;
}

#boxDesc {
    height: 90px;
    width: 400px;
    background-color: whitesmoke;
    padding: 10px 20px 10px 20px;
    border-radius: 1rem;

}

#navDiv {
    position:fixed;
    width:
}